#SPARQLBUILDER{
	width: 90%;
	margin: auto;
	color: initial;
	font-size: initial;
	font-family: initial;
}
.SBSparqlArea{
	width: 100%;
}

.SBTopButton{
	margin: 0.5em 1em 0.5em 0;
	-webkit-border-radius: 7;
	-moz-border-radius: 7;
	border-radius: 7px;
	border: none;
	color: #ffffff;
	background: hsl(200, 50%, 75%);
	padding: 5px 15px 5px 15px;
	cursor: pointer;
}

.SBTopButton:hover{
	background: hsl(200, 50%, 85%);
}

.SBTutorialLink{
	margin-top: 1.5em;
}

.SBModalView{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: rgba(0,0,0,0.8);
	display: none;
	color: initial;
	font-size: initial;
	font-family: initial;
}

.SBModalContents{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
	width: 90%;
	height: 90%;
	background: white;
	overflow: hidden;
}

.SBModalContents .SBForms{
	float: left;
	background-color: #eeeeff;
}

.SBModalContents .SBSelects{
	float: left;
}

.SBModalContents .SBSelects .SBEndPointSelect{
	width: 100%;
	height: 2em;
}

.SBModalContents .SBSelects .SBStartClassSelect{
	width: 50%;
	height: 2em;
}

.SBModalContents .SBSelects .SBEndClassSelect{
	width: 50%;
	height: 2em;
}


.SBModalContents .SBPermaLink{
	height: 100%;
	float: right;
	text-align: center;
}

.SBModalContents .SBPermaLinkButton{
	display: inline-block;
	margin-top: 10px;
	width: 90%;
	height: 36px;
	-webkit-border-radius: 3;
	-moz-border-radius: 3;
	border-radius: 3px;
	border: none;
	color: #ffffff;
	background: hsl(0, 50%, 75%);
	padding: 3px 5px 3px 5px;
	cursor: pointer;
}

.SBModalContents .SBPermaLinkButton:hover{
	background: hsl(0, 50%, 85%);
}

.SBModalContents .SBMessage{
	float: left;
	text-align: center;
	background-color: #eeeeff;
}

.SBModalContents .SBResult{
	display: none;
	height: 24px;
	font-size: 18px;
}

.SBModalContents .SBViewAll{
	display: none;
	height: 28px;
	-webkit-border-radius: 3;
	-moz-border-radius: 3;
	border-radius: 3px;
	border: none;
	color: #ffffff;
	background: hsl(0, 50%, 75%);
	padding: 3px 5px 3px 5px;
	cursor: pointer;
}

.SBModalContents .SBViewAll:hover{
	background: hsl(0, 50%, 85%);
}

.SBModalContents .SBGraph{
	float: left;
}

.SBModalContents .SBAjaxLoad{
	position: relative;
	top: 0;
	left:0;
	height: 100%;
	background: #fffafa;
}

.SBModalContents .SBLoadIcon{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 100px;
	height: 100px;
}

.SBModalContents .SBPath{
	float: left;
	padding: 10px;
	text-align: center;
	word-wrap: break-word;
}

.SBRootNode{
	margin: 0.5em;
	margin-top: 1em;
	-webkit-border-radius: 10;
	-moz-border-radius: 10;
	border-radius: 10px;
	background: hsl(40, 50%, 75%);
	padding: 5px 15px 5px 15px;
}

.SBPathProperty{
	margin: 0.2em;
}

.SBPathNode{
	margin: 0.5em;
	-webkit-border-radius: 10;
	-moz-border-radius: 10;
	border-radius: 10px;
	background: hsl(0, 0%, 85%);
	padding: 5px 15px 5px 15px;
}

.SBLeafNode{
	margin: 0.5em;
	-webkit-border-radius: 10;
	-moz-border-radius: 10;
	border-radius: 10px;
	background: hsl(150, 50%, 75%);
	padding: 5px 15px 5px 15px;
}

.SBModalContents .SBModalButtons{
	float: left;
	text-align: center;
}

.SBModalButton{
	display: inline-block;
	width: 80%;
	height: 26px;
	-webkit-border-radius: 3;
	-moz-border-radius: 3;
	border-radius: 3px;
	border: none;
	color: #ffffff;
	background: hsl(0, 50%, 75%);
	padding: 3px 5px 3px 5px;
	cursor: pointer;
}

.SBModalButton:hover{
	background: hsl(0, 50%, 85%);
}